USE [master]
GO
/****** Object:  Database [itsolutions]    Script Date: 1/28/2026 8:11:58 AM ******/
CREATE DATABASE [itsolutions]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'itsolutions', FILENAME = N'c:\databases\itsolutions\itsolutions.mdf' , SIZE = 8192KB , MAXSIZE = 20971520KB , FILEGROWTH = 10%)
 LOG ON 
( NAME = N'itsolutions_log', FILENAME = N'c:\databases\itsolutions\itsolutions_log.ldf' , SIZE = 8192KB , MAXSIZE = 1048576KB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [itsolutions].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [itsolutions]
GO
/****** Object:  Table [dbo].[students]    Script Date: 1/28/2026 8:12:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[age] [int] NULL,
	[email] [nvarchar](100) NULL,
	[gender] [nvarchar](10) NULL,
	[class_name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[students] ON 

INSERT [dbo].[students] ([id], [name], [age], [email], [gender], [class_name]) VALUES (3, N'Lê Văn C', 19, N'c@gmail.com', N'Nam', N'CTK44')
INSERT [dbo].[students] ([id], [name], [age], [email], [gender], [class_name]) VALUES (4, N'Trần Nguyễn Thanh Thuỳ', 20, N't@gmail.com', N'Nữ', N'CTK44')
INSERT [dbo].[students] ([id], [name], [age], [email], [gender], [class_name]) VALUES (5, N'Võ Chí Kiên', 21, N'k@gmail.com', N'Nam', N'CTK45')
SET IDENTITY_INSERT [dbo].[students] OFF
GO
USE [master]
GO
